

    <h4>Here is that library:</h4>
    <ul>
    <% @user_books.each do |book|%>
        <li> <%= link_to book.book.title, book%> by <%= book.book.author %><br>
        Condition: <%= book.condition %>, Owner: <%=book.user.username%><br>
        <br>
        </li>
    <% end %>
<%= render 'nav' %>