<h4>Here's the books!</h4>
<ul>
<% @user_books.each do |book|%>
    <li> <%= link_to book.book.title, book%> by <%= book.book.author %><br>
    Condition: <%= book.condition %>, Owner: <%=book.user.username%><br>
    <br>
    </li>
<% end %>
<h4> Back to <%=link_to "list of owned books", user_books_path %> </h4>
<h4> Look at <%=link_to "your books", user_user_books_path(@user, @user_books) %> </h4>