

<%= form_tag("/user_books", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

    <h4>Here is that library:</h4>
    <ul>
    <% @user_books.each do |book|%>
        <li> <%= link_to book.book.title, book%> by <%= book.book.author %><br>
        Condition: <%= book.condition %>, Owner: <%=book.user.username%><br>
        <br>
        </li>
    <% end %>
<%= render 'nav' %>