<!DOCTYPE html>
<html>
  <head>
    <title>Shades</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background">
      <div class="container">
        <div class="row">
          <div class="banner">
            <h1> <a href="/">Shades</a></h1>
            <h6> Books are made to be read </h6>
          </div>
        </div>
        <div class="row">
          <div class="well">
            <%= yield %>
          </div>
        
          <footer class="branding"> 
          <% if logged_in? %>    
              <h4>Logged in as <%= current_user.username %> </h4>
              <h4><%= link_to "Log Out", logout_path%> </h4>
              <%else%>
              <h4><%= link_to "Log In", login_path%>
              <h4><%= link_to "Sign Up", signup_path%> </h4>
          <% end %>
              
             
            <small>&copy; 2021 <strong>Shades</strong></small>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
