<!DOCTYPE html>
<html>
  <head>
    <title>Shades</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background">
      <div class="container">
        <div class="row">
          <div class="banner">
            <h1> <a href="/">Shades</a></h1>
            <h6> Books are made to be read </h6>
          </div>
        </div>
        <div class="row">
          <div class="well">
            <%= yield %>
          </div>
        
          <footer class="branding">     
              <h4><a href="/login"> Log in</a>
              <a href="/users/signup"> Sign up</a>
              </h4>
             
            <small>&copy; 2021 <strong>Shades</strong></small>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
